{% if users %}
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <td></td>
        <td>{% include '_orderable_field.html' with url_name='user_list' form=ordering_form field_name='username' field_display='Username' %}</td>
        <td>{% include '_orderable_field.html' with url_name='user_list' form=ordering_form field_name='email' field_display='E-mail' %}</td>
        <td>{% include '_orderable_field.html' with url_name='user_list' form=ordering_form field_name='last_name' field_display='Last Name' %}</td>
        <td>{% include '_orderable_field.html' with url_name='user_list' form=ordering_form field_name='first_name' field_display='First Name' %}</td>
        <td></td>
      </tr>
    </thead>

    <tbody>
      {% for user in users_page.object_list %}
        <tr>
          <td>{{ forloop.counter }}.</td>
          <td>{{ user.username }} ({% for ug in user.usergroup_set.all %}{{ ug.group.name }}{% if not forloop.last %},{% endif %}{% endfor %})</td>
          <td>{{ user.email }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.first_name }}</td>
          <td>
            <a class="btn" href="{% url 'user_detail' user.id %}">Details</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  There are no users found.
{% endif %}

