{% if parent.parentchild_set.all %}

<table class="table three-quarters">
<thead>
  <tr>
    <td>Name</td>
    <td></td>
  </tr>
</thead>
<tbody>
  {% for parentchild in parent.parentchild_set.all %}
  <tr>
    <td>{{parentchild.child.full_name}}</td>
    <td class="actions">
      <a 
        class="btn btn-danger parentchild-delete" 
        data-onsuccess_target="#child-association .list" 
        href="{% url 'ajax_parentchild_delete' parentchild.id %}">
        Delete
      </a>
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>

{% else %}
There were no children found for this user.
{% endif %}
