{% extends 'layout.html' %}

{% block page-title %}
  <a 
    class="page-title" 
    href="{% url 'user_detail' user.id %}">
    User Detail
  </a>
{% endblock %}

{% block subnav %}
  <div class="subnav">
    <a class="btn" href="{% url 'user_edit' user.id %}">Edit</a> 
    <a 
      class="btn btn-danger" 
      href="{% url 'user_delete' user.id %}"
      onclick="return confirm('Are you sure?')">Delete</a>
  </div>
{% endblock %}

{% block content %}
  <table class="detail table table-bordered table-hover">
    <tbody>
    <tr>
      <td>First</td>
      <td>{{ user.first_name}}</td>
    </tr>
    <tr>
      <td>Last</td>
      <td>{{ user.last_name}}</td>
    </tr>
    <tr>
      <td>Username</td>
      <td>{{ user.username }}</td>
    </tr>
    <tr>
      <td>E-mail</td>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <td>Created At</td>
      <td>{{ user.created_at }}</td>
    </tr>
    <tr>
      <td>Updated At</td>
      <td>{{ user.updated_at }}</td>
    </tr>
    </tbody>
  </table>

  <div id="group-association" class="association">
    <div class="header">
      <h2>Groups</h2>
      <ul class="actions">
        <li>
          <a class="btn" id="usergroup-add" href="{% url 'ajax_usergroup_new' user.id %}">Add</a>
        </li>
      </ul>
    </div>

    <div class="list">
      {% include "basicauth/admin/usergroup/list.html" %}
    </div>
  </div>

  <div id="child-association" class="association">
    <div class="header">
      <h2>Children</h2>
      <ul class="actions">
        <li>
          <a class="btn" id="parentchild-add" href="{% url 'ajax_parentchild_new' user.id %}">Add</a>
        </li>
      </ul>
    </div>
    <div class="list">
      {% include "basicauth/admin/user/_parentchild_list.html" with parent=user %}
    </div>
  </div>
{% endblock %}
