{% extends 'layout.html' %}

{% block page-title %}
  <a 
    class="page-title" 
    href="{% url 'user_list' %}">
    Users
  </a>
{% endblock %}

{% block content %}
  <fieldset>
    {% if user_form.instance.id %}
      <h4>Edit User</h4>
      <form method="post" action="{% url 'user_update' user.id %}">
    {% else %}
      <h4>Create User</h4>
      <form method="post" action="{% url 'user_create' %}">
    {% endif %}

    {% csrf_token %}

    {% include "_form_field.html" with form_field=user_form.username %}
    {% include "_form_field.html" with form_field=user_form.password %}
    {% include "_form_field.html" with form_field=user_form.password_confirm %}
    {% include "_form_field.html" with form_field=user_form.email %}
    {% include "_form_field.html" with form_field=user_form.first_name %}
    {% include "_form_field.html" with form_field=user_form.last_name %}

    <div class="form-actions">
    {% if user_form.instance.id %}
      <input class="btn btn-primary" type="submit" name="submit" value="Update" />
    {% else %}
      <input class="btn btn-primary" type="submit" name="submit" value="Add" />
    {% endif %}
    </div>

    </form>
  </fieldset>
{% endblock %}
