{% extends 'layout.html' %}

{% block page-title %}
  <a 
    class="page-title" 
    href="{% url 'user_list' %}">
    Users
    <br />
  </a>
{% endblock %}

{% block subnav %}
  <a href="{% url 'user_new' %}">
    Create a new user
  </a>
{% endblock %}

{% block content %}
  <div class="pagination pagination-right">
    <div class="navbar-search pull-left">
      <form method="get" action="{% url 'user_list' %}">
      <input type="text" 
        name="search_term" 
        class="search-query" 
        placeholder="Search Username, E-mail, Names..." />
      <input 
        class="btn btn-primary" 
        type="submit" 
        value="Search" />
      </form>
    </div>
    {% include "_paginator.html" with paginator=paginator paginator_page=users_page %}
  </div>

  <div class="list">
    {% include "basicauth/admin/user/_list.html" %}
  </div>
{% endblock %}
